Project/ComputerShop/bin/ru/WebMatrix.WebData.resources.dll
Project/ComputerShop/bin/ru/WebMatrix.Data.resources.dll
Project/ComputerShop/bin/ru/System.Web.WebPages.resources.dll
Project/ComputerShop/bin/ru/System.Web.WebPages.Razor.resources.dll
Project/ComputerShop/bin/ru/System.Web.WebPages.Deployment.resources.dll
Project/ComputerShop/bin/ru/System.Web.Razor.resources.dll
Project/ComputerShop/bin/ru/System.Web.Optimization.resources.dll
Project/ComputerShop/bin/ru/System.Web.Mvc.resources.dll
Project/ComputerShop/bin/ru/System.Web.Http.resources.dll
Project/ComputerShop/bin/ru/System.Web.Http.WebHost.resources.dll
Project/ComputerShop/bin/ru/System.Web.Helpers.resources.dll
Project/ComputerShop/bin/ru/System.Net.Http.Formatting.resources.dll
Project/ComputerShop/bin/ru/Microsoft.Web.WebPages.OAuth.resources.dll
Project/ComputerShop/bin/ru/EntityFramework.resources.dll
Project/ComputerShop/bin/log4net.xml
Project/ComputerShop/bin/log4net.dll
Project/ComputerShop/bin/WebMatrix.WebData.xml
Project/ComputerShop/bin/WebMatrix.WebData.dll
Project/ComputerShop/bin/WebMatrix.Data.xml
Project/ComputerShop/bin/WebMatrix.Data.dll
Project/ComputerShop/bin/WebGrease.dll
Project/ComputerShop/bin/System.Web.WebPages.xml
Project/ComputerShop/bin/System.Web.WebPages.dll
Project/ComputerShop/bin/System.Web.WebPages.Razor.xml
Project/ComputerShop/bin/System.Web.WebPages.Razor.dll
Project/ComputerShop/bin/System.Web.WebPages.Deployment.xml
Project/ComputerShop/bin/System.Web.WebPages.Deployment.dll
Project/ComputerShop/bin/System.Web.Razor.xml
Project/ComputerShop/bin/System.Web.Razor.dll
Project/ComputerShop/bin/System.Web.Optimization.dll
Project/ComputerShop/bin/System.Web.Mvc.xml
Project/ComputerShop/bin/System.Web.Mvc.dll
Project/ComputerShop/bin/System.Web.Http.xml
Project/ComputerShop/bin/System.Web.Http.dll
Project/ComputerShop/bin/System.Web.Http.WebHost.xml
Project/ComputerShop/bin/System.Web.Http.WebHost.dll
Project/ComputerShop/bin/System.Web.Helpers.xml
Project/ComputerShop/bin/System.Web.Helpers.dll
Project/ComputerShop/bin/System.Net.Http.Formatting.xml
Project/ComputerShop/bin/System.Net.Http.Formatting.dll
Project/ComputerShop/bin/Newtonsoft.Json.xml
Project/ComputerShop/bin/Newtonsoft.Json.dll
Project/ComputerShop/bin/Microsoft.Web.WebPages.OAuth.xml
Project/ComputerShop/bin/Microsoft.Web.WebPages.OAuth.dll
Project/ComputerShop/bin/Microsoft.Web.Infrastructure.dll
Project/ComputerShop/bin/EntityFramework.xml
Project/ComputerShop/bin/EntityFramework.dll
Project/ComputerShop/bin/DotNetOpenAuth.OpenId.xml
Project/ComputerShop/bin/DotNetOpenAuth.OpenId.dll
Project/ComputerShop/bin/DotNetOpenAuth.OpenId.RelyingParty.xml
Project/ComputerShop/bin/DotNetOpenAuth.OpenId.RelyingParty.dll
Project/ComputerShop/bin/DotNetOpenAuth.OAuth.xml
Project/ComputerShop/bin/DotNetOpenAuth.OAuth.dll
Project/ComputerShop/bin/DotNetOpenAuth.OAuth.Consumer.xml
Project/ComputerShop/bin/DotNetOpenAuth.OAuth.Consumer.dll
Project/ComputerShop/bin/DotNetOpenAuth.Core.xml
Project/ComputerShop/bin/DotNetOpenAuth.Core.dll
Project/ComputerShop/bin/DotNetOpenAuth.AspNet.xml
Project/ComputerShop/bin/DotNetOpenAuth.AspNet.dll
Project/ComputerShop/bin/ComputerShop.pdb
Project/ComputerShop/bin/ComputerShop.dll.config
Project/ComputerShop/bin/ComputerShop.dll
Project/ComputerShop/bin/Antlr3.Runtime.dll
Project/ComputerShop/obj/Release/edmxResourcesToEmbed/Models/ComputerShopModel.ssdl
Project/ComputerShop/obj/Release/edmxResourcesToEmbed/Models/ComputerShopModel.msl
Project/ComputerShop/obj/Release/edmxResourcesToEmbed/Models/ComputerShopModel.csdl
Project/ComputerShop/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Project/ComputerShop/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Project/ComputerShop/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Project/ComputerShop/obj/Release/TempPE/Models.ComputerShopModel.cs.dll
Project/ComputerShop/obj/Release/TempPE/Models.ComputerShopModel.Designer.cs.dll
Project/ComputerShop/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Project/ComputerShop/obj/Release/ComputerShop.csprojResolveAssemblyReference.cache
Project/ComputerShop/obj/Release/ComputerShop.csproj.FileListAbsolute.txt
Project/ComputerShop/obj/Debug/edmxResourcesToEmbed/Models/ComputerShopModel2.ssdl
Project/ComputerShop/obj/Debug/edmxResourcesToEmbed/Models/ComputerShopModel2.msl
Project/ComputerShop/obj/Debug/edmxResourcesToEmbed/Models/ComputerShopModel2.csdl
Project/ComputerShop/obj/Debug/edmxResourcesToEmbed/Models/ComputerShopModel.ssdl
Project/ComputerShop/obj/Debug/edmxResourcesToEmbed/Models/ComputerShopModel.msl
Project/ComputerShop/obj/Debug/edmxResourcesToEmbed/Models/ComputerShopModel.csdl
Project/ComputerShop/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Project/ComputerShop/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Project/ComputerShop/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Project/ComputerShop/obj/Debug/TempPE/Models.ComputerShopModel2.cs.dll
Project/ComputerShop/obj/Debug/TempPE/Models.ComputerShopModel2.Designer.cs.dll
Project/ComputerShop/obj/Debug/TempPE/Models.ComputerShopModel.cs.dll
Project/ComputerShop/obj/Debug/TempPE/Models.ComputerShopModel.Designer.cs.dll
Project/ComputerShop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Project/ComputerShop/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Project/ComputerShop/obj/Debug/CoreCompileInputs.cache
Project/ComputerShop/obj/Debug/ComputerShop.pdb
Project/ComputerShop/obj/Debug/ComputerShop.dll
Project/ComputerShop/obj/Debug/ComputerShop.csprojResolveAssemblyReference.cache
Project/ComputerShop/obj/Debug/ComputerShop.csproj.FileListAbsolute.txt
